.message-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px); /* 减去文本框和按钮的高度 */
  overflow-y: auto; /* 添加滚动条 */
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

body {
  background-color: #EDEDED;
  margin: 0;
  padding: 0;
}
html, body {
height: 100%;
overflow: hidden;
}
.sent {
  align-self: flex-end;
  text-align: right;
  background-color: #c2f0c2;
}

.received {
  align-self: flex-start;
  text-align: left;
  background-color: white;
}

.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  display: flex;
}

#messageInput {
  flex-grow: 1;
  margin-right: 10px;
}

#sendButton {
  flex-shrink: 0;
}